{% extends 'base.html.twig' %}

{% block title %}Connexion | Huberisation{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/login.css') }}">
{% endblock %}

{% block nav %}
    {% include 'nav.html.twig' %}
{% endblock %}

{% block body %}

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="card center">

        <div class="card-header">Connexion</div>

        <form action="{{ path('login') }}" method="post">
            <label for="username">Pseudo:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />

            <label for="password">Mot de passe:</label>
            <input type="password" id="password" name="_password" />

            {#
                If you want to control the URL the user
                is redirected to on success (more details below)
                <input type="hidden" name="_target_path" value="/account" />
            #}

            <button type="submit">Connexion</button>
        </form>
    </div>


{% endblock %}

