{% extends 'base.html.twig' %}

{% block title %}404 | Huberisation{% endblock %}

{% block nav %}
    {% include 'nav.html.twig' %}
{% endblock %}

{% block body %}

    <h1>Oups, la ressource que vous recherchez n'existe pas où a été déplacée.</h1>

{% endblock %}