@import "screen";

#articles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 972px;
  margin: 24px auto;

  @include breakpoint-medium {
    max-width: 648px;
  }

  @include breakpoint-small {
    max-width: 324px
  }
}

header {
  width: 100%;
  margin: 12px;
  display: flex;
  flex-direction: column;
  text-align: center;

  a {
    padding: 6px 24px;
    line-height: 25px;
    margin: 6px;
    border: none;
    border-radius: 5px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    color: #fff;
    background-color: #43A047;

    &:hover {
      background-color: #2E7D32;
      -webkit-transition: all .2s;
      -moz-transition: all .2s;
      -ms-transition: all .2s;
      -o-transition: all .2s;
      transition: all .2s;
    }
  }

}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  margin-bottom: 24px;

  a {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &:hover {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1);
      -webkit-transition: all .2s;
      -moz-transition: all .2s;
      -ms-transition: all .2s;
      -o-transition: all .2s;
      transition: all .2s;
    }

  }

  .edit {
    background-color: #1E88E5;
    color: #fff;
  }

  .delete {
    background-color: #F44336;
    color: #fff;
  }
}