@import "screen";

.article-thumbnail {
  width: 300px;
  height: 400px;
  margin-right: 24px;
  margin-bottom: 24px;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  color: black;

  @include breakpoint-small {
    margin: 12px;
  }

  img {
    width: 300px;
    height: 200px;
    object-fit: cover;
  }

  .article-thumbnail-info {
    height: 200px;
    padding: 12px;

    span {
      font-size: 0.8rem;
    }
  }

  &:hover {
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.1);
  }
}