h1, h2, h3, h4, h5, h6, a, div, span, section, ul, ol, li, button {
  text-decoration: none;
  font-family: 'Roboto Light', 'Roboto', sans-serif;
  font-weight: 100;
}

html, body {
  margin:0; padding:0
}

.body {
  min-height: calc(100vh - 350px);
}

strong {
  font-weight: bold;
}

img.emoji {
  // Override any img styles to ensure Emojis are displayed inline
  margin: 0 !important;
  display: inline !important;
}