h1, h2, h3, h4, h5, h6, a, div, span, section, ul, ol, li {
  text-decoration: none;
  font-family: 'Roboto Light';
  font-weight: 100;
}

html, body {
  margin:0; padding:0
}

.body {
  min-height: 100vh;
}

strong {
  font-weight: bold;
}