.card {

  width: 350px;
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.1);

  .card-header {
    background: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
    color: white;
    text-align: center;
    font-size: 1.6rem;
    padding: 24px;
  }

  form {
    padding: 24px;
    display: flex;
    flex-direction: column;

    label {
      font-weight: bold;
      margin-top: 12px;
      margin-bottom: 12px;
    }
    
    input {
      font: inherit;
      margin: 0;
      display: block;
      height: 34px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      color: #555;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
      -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

      &:focus {
        box-shadow: 0 0 2px 2px rgba(0,0,0,.075);
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
      }
    }

    button {
      margin-top: 12px;
      background-color: white;
      border: none;
      padding: 12px;
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      -ms-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s;

      &:hover {
        background-color: #E0E0E0;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
      }
    }
  }

}

.center {
  margin: 50px auto;
}

.body{
  height: 100% !important;
}