<footer>
    <ul>
        <li>© 2019 Bastien Huber</li>
        <li><a href="mailto:bastien@huberisation.fr">Me contacter</a></li>
        <li><a href="/a-propos">A Propos</a></li>
    </ul>
</footer>