<nav id="large-navbar">
    <!-- Social links and language -->
    <div id="links">
        <ul id="social">
            <li><a class="fab fa-twitter" href="https://twitter.com/bastien_hub"></a></li>
            <li><a class="fab fa-instagram" href="https://www.instagram.com/bastienhub/"></a></li>
            <li><a class="fab fa-github" href="https://github.com/searev"></a></li>
            <li><a class="fab fa-linkedin" href="https://www.linkedin.com/in/bastienhuber/"></a></li>
        </ul>

        <!-- Other links to follow: language selection, search... -->
    </div>

    <div id="tagline">
        <h1><a href="/">Huberisation (nf) :</a></h1>
        <h3>Exploration et analyse des nouvelles technologies et de leur impact ; si possible sans bullshit.</h3>
    </div>

    <ul id="internal-links">
        <li><a href="/blog">Blog</a></li>
        <li><a href="/projets">Projets</a></li>
        <li><a href="/tutoriels">Tutoriels</a></li>
        <li><a href="/a-propos">A Propos</a></li>
    </ul>
</nav>

<button id="navbar-menu-trigger">
    <i class="fas fa-bars"></i>
</button>

<nav id="sidenav">

    <!-- Navigation links -->
    <div class="navigation-links">
        <a href="/">Accueil</a>
        <a href="/blog">Blog</a>
        <a href="/projets">Projets</a>
        <a href="/tutoriels">Tutoriels</a>
        <a href="/a-propos">A Propos</a>
    </div>

    <!-- Social links and language -->
    <div class="social-links">
        <a class="fab fa-twitter" href="https://twitter.com/bastien_hub"></a>
        <a class="fab fa-instagram" href="https://www.instagram.com/bastienhub/"></a>
        <a class="fab fa-github" href="https://github.com/searev"></a>
        <a class="fab fa-linkedin" href="https://www.linkedin.com/in/bastienhuber/"></a>
    </div>
</nav>